.headerContainer {
  display: flex;
}

.tab-head {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.bodyContainer {
  border: 1px solid black;
  padding: 10px;
  height: 200px;
}

.tab1 {
  display: flex;
}

.buttonComponet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

.error-msg {
  color: red;
  font-weight: bold;
  font-size: 12px;
  background-color: silver;
  width: max-content;
  padding: 4px;
  margin: 4px;
}
